{% extends "base.html" %}

{% if event_type == 'saving' %}
  {% set title = _('Мероприятия по экономии топливно-энергетических ресурсов') %}
  {% set section_title = '2.1 Мероприятия по экономии ТЭР (первоначальная редакция)' %}
  {% set section_changes_title = '2.2 Мероприятия по экономии ТЭР (включенные в план при внесении в него изменений)' %}
  {% set eff_label = 'Условно-годовой экономический эффект' %}
  {% set eff_curr_label = 'Ожидаемый экономический эффект от внедрения мероприятия в текущем году, т у.т.' %}
  {% set empty_message = 'Нет мероприятий по экономии ТЭР' %}
  {% set empty_changes_message = 'Отсутствуют мероприятия по экономии ТЭР (включенные в план при внесении в него изменений)' %}
  {% set nav_active = 'event-saving' %}
{% else %}
  {% set title = _('Мероприятия по увеличению использования местных топливно-энергетических ресурсов') %}
  {% set section_title = '3.1 Мероприятия по увеличению использования местных ТЭР (первоначальная редакция)' %}
  {% set section_changes_title = '3.2 Мероприятия по увеличению использования местных ТЭР (включенные в перечень при внесении в него изменений)' %}
  {% set eff_label = 'Условно-годовое увеличение использования местных ТЭР' %}
  {% set eff_curr_label = 'Ожидаемое увеличение использования местных ТЭР, т у.т.' %}
  {% set empty_message = 'Нет мероприятий по увеличению использования местных ТЭР' %}
  {% set empty_changes_message = 'Отсутствуют мероприятия по увеличению использования местных ТЭР (включенные в перечень при внесении в него изменений)' %}
  {% set nav_active = 'event-increase' %}
{% endif %}

{% block title %}{{ title }} - enPlans{% endblock %}

{% block content %}
<div class="pers-page-with-table">
  {{ component.back_header(plan, current_user) }}
  {{ component.plan_navigation_header(nav_active, plan, current_user) }}
</div>
<div class="personal-plan-conteiner">
  {{ component.plan_menu(plan, current_user, nav_active) }}
  {% if has_events %}
    <div class="table-container">
      <table class="main-table" id="eventTable" data-token="{{ plan.token }}" data-event-type="{{ event_type }}">
        <thead class="main-table-titels">
          <tr>
            <th rowspan="3" class="resizable">
              <a>№ {{ icons.icon_sort() }}</a>
              <div class="resizer"></div>
            </th>
            <th rowspan="3" class="resizable">
              <a>Код основных направлений энергосбережения в соответствии с формой 4-энерго-сбережение {{ icons.icon_sort() }}</a>
              <div class="resizer"></div>
            </th>
            <th rowspan="3" class="resizable" style="min-width: 300px;">
              <a>Наименование мероприятий, работ {{ icons.icon_sort() }}</a>
              <div class="resizer"></div>
            </th>
            <th rowspan="3" class="resizable vertical-text">
              <a>Ед. изм. {{ icons.icon_sort() }}</a>
              <div class="resizer"></div>
            </th>
            <th rowspan="3" class="resizable vertical-text">
              <a>Объем внедрения, ед. {{ icons.icon_sort() }}</a>
              <div class="resizer"></div>
            </th>
            <th colspan="2" class="resizable">
              <a>{{ eff_label }}</a>
              <div class="resizer"></div>
            </th>
            <th rowspan="3" class="resizable vertical-text">
              <a>Ожидаемый срок внедрения мероприятия, квартал {{ icons.icon_sort() }}</a>
              <div class="resizer"></div>
            </th>
            <th rowspan="3" class="resizable vertical-text" style="min-width: 125px">
              <a>{{ eff_curr_label }} {{ icons.icon_sort() }}</a>
              <div class="resizer"></div>
            </th>
            <th rowspan="3" class="resizable vertical-text">
              <a>Срок окупаемости, лет {{ icons.icon_sort() }}</a>
              <div class="resizer"></div>
            </th>
            <th rowspan="3" class="resizable vertical-text">
              <a>Объем финансирования, руб. {{ icons.icon_sort() }}</a>
              <div class="resizer"></div>
            </th>
            <th colspan="7" class="resizable" style="border-right: none;">
              <a>в том числе по источникам финансирования, руб.</a>
            </th>
          </tr>
          <tr>
            <th rowspan="2" class="resizable vertical-text">
              <a>т.у.т. {{ icons.icon_sort() }}</a>
              <div class="resizer"></div>
            </th>
            <th rowspan="2" class="resizable vertical-text">
              <a>тыс. руб. {{ icons.icon_sort() }}</a>
              <div class="resizer"></div>
            </th>
            <th colspan="4" class="resizable">
              <a>бюджетные</a>
              <div class="resizer"></div>
            </th>
            <th rowspan="2" class="resizable vertical-text">
              <a>собственные средства организации {{ icons.icon_sort() }}</a>
              <div class="resizer"></div>
            </th>
            <th rowspan="2" class="resizable vertical-text">
              <a>кредиты банков, займы {{ icons.icon_sort() }}</a>
              <div class="resizer"></div>
            </th>
            <th rowspan="2" class="resizable vertical-text" style="border-right: none;">
              <a>Иные {{ icons.icon_sort() }}</a>
              <div class="resizer"></div>
            </th>
          </tr>
          <tr>
            <th class="resizable vertical-text">
              <a>республиканский бюджет на финансирование госпрограммы {{ icons.icon_sort() }}</a>
              <div class="resizer"></div>
            </th>
            <th class="resizable vertical-text">
              <a>республиканский бюджет {{ icons.icon_sort() }}</a>
              <div class="resizer"></div>
            </th>
            <th class="resizable vertical-text">
              <a>местный бюджет {{ icons.icon_sort() }}</a>
              <div class="resizer"></div>
            </th>
            <th class="resizable vertical-text">
              <a>другие {{ icons.icon_sort() }}</a>
              <div class="resizer"></div>
            </th>
          </tr>
          <tr>
            <th class="resizable" style="border-left: none"><a>1</a><div class="resizer"></div></th>
            <th class="resizable">2<div class="resizer"></div></th>
            <th class="resizable">3<div class="resizer"></div></th>
            <th class="resizable">4<div class="resizer"></div></th>
            <th class="resizable">5<div class="resizer"></div></th>
            <th class="resizable">6<div class="resizer"></div></th>
            <th class="resizable">7<div class="resizer"></div></th>
            <th class="resizable">8<div class="resizer"></div></th>
            <th class="resizable">9<div class="resizer"></div></th>
            <th class="resizable">10<div class="resizer"></div></th>
            <th class="resizable">11<div class="resizer"></div></th>
            <th class="resizable">12<div class="resizer"></div></th>
            <th class="resizable">13<div class="resizer"></div></th>
            <th class="resizable">14<div class="resizer"></div></th>
            <th class="resizable">15<div class="resizer"></div></th>
            <th class="resizable">16<div class="resizer"></div></th>
            <th class="resizable">17<div class="resizer"></div></th>
            <th class="resizable" style="border-right: none;">18</th>
          </tr>
        </thead>
        
        <!-- Оригинальные мероприятия -->
        <tr class="group-header" data-target="non-local-content">
          <td colspan="18">
            <div class="group-header-content">
              {{ icons.dropdown_arrow() }}
              <span>{{ section_title }}</span>
            </div>
          </td>
        </tr>
        <tbody class="rows" id="non-local-content">
          <tr class="no-results-row">
            <td colspan="18">Загрузка...</td>
          </tr>
        </tbody>
        
        <tr class="group-header" data-target="local-content">
          <td colspan="18">
            <div class="group-header-content">
              {{ icons.dropdown_arrow() }}
              <span>{{ section_changes_title }}</span>
            </div>
          </td>
        </tr>
        <tbody class="rows" id="local-content">
          <tr class="no-results-row">
            <td colspan="18">Загрузка...</td>
          </tr>
        </tbody>
        
        <!-- Итого и периоды -->
        <tr class="group-header" data-target="other-content">
          <td colspan="18">
            <div class="group-header-content">
              {{ icons.dropdown_arrow() }}
              <span>Другое</span>
            </div>
          </td>
        </tr>
        <tbody id="other-content">
          <tr>
            <td colspan="18">Загрузка...</td>
          </tr>
        </tbody>
      </table>
    </div>
    {% else %}
    <div class="no-info-conteiner">
      <div class="empty-state">
        {{ icons.icon_no_info1() }}
        <h1>{{ title }} отсутствуют</h1>
        <p>Чтобы начать работу, добавьте новое мероприятие.</p>
      </div>
    </div>
    {{ affects.bg_effect() }}
  {% endif %}
</div>

<script src="{{ url_for('static', filename='js/plan.js') }}"></script>
{% endblock %}