{% extends "base.html" %}
{% block title %}{{ _('Мероприятия по увеличению использования местных топливно-энергетических ресурсов') }} - enPlans{%endblock %}
{% block content %}

<div class="pers-page-with-table">
  {{ component.back_header(plan, current_user) }}
  {{ component.plan_navigation_header('measure-increase', plan, current_user) }}
</div>
<div class="personal-plan-conteiner">
  {{ component.plan_menu(plan, current_user, 'measure-increase') }}
  {% if increase_events or econom_events %}
    <div class="table-container">
      <table class="main-table" id="measureTable">
        <thead class="main-table-titels">
          <tr>
            <th rowspan="3" class="resizable" >
              <a>№ {{ icons.icon_sort() }}</a>
              <div class="resizer"></div>
            </th>
            <th rowspan="3" class="resizable">
              <a>Код основных направлений энергосбережения в соответствии с формой 4-энерго-сбережение {{ icons.icon_sort() }}</a>
              <div class="resizer"></div>
            </th>
            <th rowspan="3" class="resizable">
              <a>Наименование мероприятий, работ {{ icons.icon_sort() }}</a>
              <div class="resizer"></div>
            </th>
            <th rowspan="3" class="resizable vertical-text">
              <a>Единицы измерения {{ icons.icon_sort() }}</a>
              <div class="resizer"></div>
            </th>
            <th rowspan="3" class="resizable vertical-text">
              <a>Объем внедрения, ед. {{ icons.icon_sort() }}</a>
              <div class="resizer"></div>
            </th>
            <th colspan="2" class="resizable">
              <a>Условно-годовое увеличение использования местных ТЭР {{ icons.icon_sort() }}</a>
              <div class="resizer"></div>
            </th>
            <th rowspan="3" class="resizable vertical-text">
              <a>Ожидаемый срок внедрения мероприятия, квартал {{ icons.icon_sort() }}</a>
              <div class="resizer"></div>
            </th>
            <th rowspan="3" class="resizable vertical-text" style="min-width: 125px">
              <a>Ожидаемое увеличение использования местных ТЭР, т у.т. {{ icons.icon_sort() }}</a>
              <div class="resizer"></div>
            </th>
            <th rowspan="3" class="resizable vertical-text">
              <a>Срок окупаемости, лет {{ icons.icon_sort() }}</a>
              <div class="resizer"></div>
            </th>
            <th rowspan="3" class="resizable vertical-text">
              <a>Объем финансирования, руб. {{ icons.icon_sort() }}</a>
              <div class="resizer"></div>
            </th>
            <th colspan="7" class="resizable" style = "border-right: none;">
              <a>в том числе по источникам финансирования, руб. {{ icons.icon_sort() }}</a>
            </th>
          </tr>
          <tr>
            <th rowspan="2" class="resizable vertical-text">
              т.у.т.
              <div class="resizer"></div>
            </th>
            <th rowspan="2" class="resizable vertical-text">
              тыс. руб.
              <div class="resizer"></div>
            </th>
            <th colspan="4" class="resizable">
              бюджетные
              <div class="resizer"></div>
            </th>
            <th rowspan="2" class="resizable vertical-text">
              собственные средства организации
              <div class="resizer"></div>
            </th>
            <th rowspan="2" class="resizable vertical-text">
              кредиты банков, займы
              <div class="resizer"></div>
            </th>
            <th rowspan="2" class="resizable vertical-text" style = "border-right: none;">
              Иные
              <div class="resizer"></div>
            </th>
          </tr>
          <tr>
            <th class="resizable vertical-text">
              республиканский бюджет на финансирование госпрограммы
              <div class="resizer"></div>
            </th>
            <th class="resizable vertical-text">
              республиканский бюджет
              <div class="resizer"></div>
            </th>
            <th class="resizable vertical-text">
              местный бюджет
              <div class="resizer"></div>
            </th>
            <th class="resizable vertical-text">
              другие
              <div class="resizer"></div>
            </th>
          </tr>
          <tr>
            <th class="resizable" style="border-left: none">
              <a>1</a>
              <div class="resizer"></div>
            </th>
            <th class="resizable">
              2
              <div class="resizer"></div>
            </th>
            <th class="resizable">
              3
              <div class="resizer"></div>
            </th>
            <th class="resizable">
              4
              <div class="resizer"></div>
            </th>
            <th class="resizable">
              5
              <div class="resizer"></div>
            </th>
            <th class="resizable">
              6
              <div class="resizer"></div>
            </th>
            <th class="resizable">
              7
              <div class="resizer"></div>
            </th>
            <th class="resizable">
              8
              <div class="resizer"></div>
            </th>
            <th class="resizable">
              9
              <div class="resizer"></div>
            </th>
            <th class="resizable">
              10
              <div class="resizer"></div>
            </th>
            <th class="resizable">
              11
              <div class="resizer"></div>
            </th>
            <th class="resizable">
              12
              <div class="resizer"></div>
            </th>
            <th class="resizable">
              13
              <div class="resizer"></div>
            </th>
            <th class="resizable">
              14
              <div class="resizer"></div>
            </th>
            <th class="resizable">
              15
              <div class="resizer"></div>
            </th>
            <th class="resizable">
              16
              <div class="resizer"></div>
            </th>
            <th class="resizable">
              17
              <div class="resizer"></div>
            </th>
            <th class="resizable" style = "border-right: none;">18</th>
          </tr>
        </thead>
        <tr class="group-header" data-target="non-local-content">
          <td colspan="18">
            <div class="group-header-content">
              {{ icons.dropdown_arrow() }}
              <span>3.1 Мероприятия по увеличению использования местных ТЭР (первоначальная редакция)</span>
            </div>
          </td>
        </tr>
        <tbody class="rows" id="non-local-content">
          {% if increase_events %} {% for row in increase_events %}
          <tr class="menu-row" data-id="{{ row.id }}">
            <td>{{ loop.index }}</td>
            <td>{{ row.direction.code }}</td>
            <td>{{ row.name }}</td>
            <td>{{ row.direction.unit.name }}</td>
            <td>{{ row.Volume }}</td>
            <td>{{ row.EffTut }}</td>
            <td>{{ row.EffRub }}</td>
            <td>{{ row.ExpectedQuarter }}</td>
            <td>{{ row.EffCurrYear }}</td>
            <td>{{ row.Payback }}</td>
            <td>{{ row.VolumeFin }}</td>
            <td>{{ row.BudgetState }}</td>
            <td>{{ row.BudgetRep }}</td>
            <td>{{ row.BudgetLoc }}</td>
            <td>{{ row.BudgetOther }}</td>
            <td>{{ row.MoneyOwn }}</td>
            <td>{{ row.MoneyLoan }}</td>
            <td>{{ row.MoneyOther }}</td>
          </tr>
          {% endfor %}
          <tr class="total-row">
            <td style="text-align: left; padding-left: 60px" colspan="4">
              Итого по разделу:
            </td>
            <td>
              {{
              increase_events|sum(attribute='Volume')|default(0)|round(3)}}
            </td>
            <td>
              {{
              increase_events|sum(attribute='EffTut')|default(0)|round(3)}}
            </td>
            <td>
              {{
              increase_events|sum(attribute='EffRub')|default(0)|round(3)}}
            </td>
            <td>-</td>
            <td>
              {{
              increase_events|sum(attribute='EffCurrYear')|default(0)|round(3)
              }}
            </td>
            <td>-</td>
            <td>
              {{
              increase_events|sum(attribute='VolumeFin')|default(0)|round(3)}}
            </td>
            <td>
              {{
              increase_events|sum(attribute='BudgetState')|default(0)|round(3)}}
            </td>
            <td>
              {{
              increase_events|sum(attribute='BudgetRep')|default(0)|round(3)}}
            </td>
            <td>
              {{
              increase_events|sum(attribute='BudgetLoc')|default(0)|round(3)}}
            </td>
            <td>
              {{
              increase_events|sum(attribute='BudgetOther')|default(0)|round(3)}}
            </td>
            <td>
              {{
              increase_events|sum(attribute='MoneyOwn')|default(0)|round(3)}}
            </td>
            <td>
              {{
              increase_events|sum(attribute='MoneyLoan')|default(0)|round(3)}}
            </td>
            <td>
              {{
              increase_events|sum(attribute='MoneyOther')|default(0)|round(3)}}
            </td>
          </tr>
          {% else %}
          <tr class="no-results-row">
            <td colspan="18">Отсутствуют мероприятия по увеличению использования местных ТЭР</td>
          </tr>
          {% endif %}
        </tbody>
        <tr class="group-header" data-target="local-content">
          <td colspan="18">
            <div class="group-header-content">
              {{ icons.dropdown_arrow() }}
              <span>
                3.2 Мероприятия по увеличению использования местных ТЭР (включенные в перечень при внесении в него изменений)
              </span>
            </div>
          </td>
        </tr>
        <tbody class="rows" id="local-content">
          {% if econom_events %} {% for row in econom_events %}
          <tr class="menu-row" data-id="{{ row.id }}">
            <td>{{ loop.index }}</td>
            <td>{{ row.direction.code }}</td>
            <td>{{ row.name }}</td>
            <td>{{ row.direction.unit.name }}</td>
            <td>{{ row.Volume }}</td>
            <td>{{ row.EffTut }}</td>
            <td>{{ row.EffRub }}</td>
            <td>{{ row.ExpectedQuarter }}</td>
            <td>{{ row.EffCurrYear }}</td>
            <td>{{ row.Payback }}</td>
            <td>{{ row.VolumeFin }}</td>
            <td>{{ row.BudgetState }}</td>
            <td>{{ row.BudgetRep }}</td>
            <td>{{ row.BudgetLoc }}</td>
            <td>{{ row.BudgetOther }}</td>
            <td>{{ row.MoneyOwn }}</td>
            <td>{{ row.MoneyLoan }}</td>
            <td>{{ row.MoneyOther }}</td>
          </tr>
          {% endfor %}
          <tr class="total-row">
            <td style="text-align: left; padding-left: 60px" colspan="4">
              Итого по разделу:
            </td>
            <td>
              {{ econom_events|sum(attribute='Volume')|default(0)|round(3)}}
            </td>
            <td>
              {{ econom_events|sum(attribute='EffTut')|default(0)|round(3)}}
            </td>
            <td>
              {{ econom_events|sum(attribute='EffRub')|default(0)|round(3)}}
            </td>
            <td>-</td>
            <td>
              {{
              econom_events|sum(attribute='EffCurrYear')|default(0)|round(3)
              }}
            </td>
            <td>-</td>
            <td>
              {{
              econom_events|sum(attribute='VolumeFin')|default(0)|round(3)}}
            </td>
            <td>
              {{
              econom_events|sum(attribute='BudgetState')|default(0)|round(3)}}
            </td>
            <td>
              {{
              econom_events|sum(attribute='BudgetRep')|default(0)|round(3)}}
            </td>
            <td>
              {{
              econom_events|sum(attribute='BudgetLoc')|default(0)|round(3)}}
            </td>
            <td>
              {{
              econom_events|sum(attribute='BudgetOther')|default(0)|round(3)}}
            </td>
            <td>
              {{
              econom_events|sum(attribute='MoneyOwn')|default(0)|round(3)}}
            </td>
            <td>
              {{
              econom_events|sum(attribute='MoneyLoan')|default(0)|round(3)}}
            </td>
            <td>
              {{
              econom_events|sum(attribute='MoneyOther')|default(0)|round(3)}}
            </td>
          </tr>
          {% else %}
          <tr class="no-results-row">
            <td colspan="18">
              Отсутствуют мероприятия по увеличению использования местных ТЭР
            </td>
          </tr>
          {% endif %}
        </tbody>
        <tr class="group-header" data-target="other-content">
          <td colspan="18">
            <div class="group-header-content">
              {{ icons.dropdown_arrow() }}
              <span>Другое</span>
            </div>
          </td>
        </tr>
        <tbody id="other-content">
          <tr>
            <td></td>
            <td>Всего:</td>
            <td colspan="2"></td>

            <td>{{ econ_exec|sum(attribute='Volume')|default(0)|round(3)}}</td>
            <td>{{ econ_exec|sum(attribute='EffTut')|default(0)|round(3)}}</td>
            <td>{{ econ_exec|sum(attribute='EffRub')|default(0)|round(3)}}</td>
            <td>-</td>
            <td>
              {{ econ_exec|sum(attribute='EffCurrYear')|default(0)|round(3)}}
            </td>
            <td>-</td>
            <td>
              {{ econ_exec|sum(attribute='VolumeFin')|default(0)|round(3)}}
            </td>
            <td>
              {{ econ_exec|sum(attribute='BudgetState')|default(0.00)|round(3)}}
            </td>
            <td>
              {{ econ_exec|sum(attribute='BudgetRep')|default(0)|round(3)}}
            </td>
            <td>
              {{ econ_exec|sum(attribute='BudgetLoc')|default(0)|round(3)}}
            </td>
            <td>
              {{ econ_exec|sum(attribute='BudgetOther')|default(0)|round(3)}}
            </td>
            <td>
              {{ econ_exec|sum(attribute='MoneyOwn')|default(0)|round(3)}}
            </td>
            <td>
              {{ econ_exec|sum(attribute='MoneyLoan')|default(0)|round(3)}}
            </td>
            <td>
              {{ econ_exec|sum(attribute='MoneyOther')|default(0)|round(3)}}
            </td>
          </tr>
          {% set periods = [ ('Январь-Март', 'jan_mar_eff', 'jan_mar_vol'),
          ('Январь-Июнь', 'jan_jun_eff', 'jan_jun_vol'), ('Январь-Сентябрь',
          'jan_sep_eff', 'jan_sep_vol'), ('Январь-Декабрь', 'jan_dec_eff',
          'jan_dec_vol') ] %} {% for period_name, eff_key, vol_key in periods %}
          <tr>
            <td></td>
            <td>{{ period_name }}</td>
            <td colspan="6"></td>
            <td>{{ total_metrics[eff_key]|default('0.00') }}</td>
            <td></td>
            <td>{{ total_metrics[vol_key]|default('0.00') }}</td>
            <td colspan="7"></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  {% else %}
    <div class="no-info-conteiner">
      <div class="empty-state">
        {{ icons.icon_no_info1() }}
        <h1>{{ _('Нет мероприятий по увеличению использования местных ТЭР') }}</h1>
        <p>Чтобы начать работу, добавьте новое мероприятие.</p>
      </div>
    </div>
    {{ affects.bg_effect() }}  
  {% endif %}
</div>
{% endblock %}
