{% extends "base.html" %}
{% block title %}{{ _('Показатели') }} - enPlans{%endblock %}
{% block content %}

<div class="pers-page-with-table">
  {{ component.back_header(plan, current_user) }}
  {{ component.plan_navigation_header('indicators', plan, current_user) }}
</div>

<div class="personal-plan-conteiner">
  {{ component.plan_menu(plan, current_user, 'indicators') }}
  <div class="table-container">
    <table class="main-table" id="indicatorsTable" data-token="{{ plan.token }}">
      <thead class="main-table-titels">
        <tr>
          <th rowspan="2" class="resizable" style="max-width: 90px;">
            <a>Строка {{ icons.icon_sort() }}</a>
            <div class="resizer"></div>
          </th>
          <th rowspan="2" class="resizable">
            <a>№ {{ icons.icon_sort() }}</a>
            <div class="resizer"></div>
          </th>
          <th rowspan="2" class="resizable" style="min-width: 600px">        
            <a>Основные показатели по использованию ТЭР {{ icons.icon_sort() }}</a>
            <div class="resizer"></div>
          </th>
          <th rowspan="2" class="resizable" style="max-width: 90px">
            <a>Ед. изм.{{ icons.icon_sort() }}</a>
            <div class="resizer"></div>
          </th>
          <th colspan="2" class="resizable" style="max-width: 200px">
            <a>{{ plan.year - 2}} г. отчет</a>
            <div class="resizer"></div>
          </th>
          <th colspan="2" class="resizable" style="max-width: 200px">
            <a>{{ plan.year - 1}} г. оценка</a>
            <div class="resizer"></div>
          </th>
          <th colspan="2" class="resizable" style="max-width: 200px">
            <a>{{ plan.year }} г. прогноз</a>
            <div class="resizer"></div>
          </th>
          <th rowspan="2" class="resizable" style="border-right: none; max-width: 100px">
            <a>Изменение ТЭР прогнозного года к предыдущему {{ icons.icon_sort() }}</a>
            <div class="resizer"></div>
          </th>
        </tr>
        <tr>
          <th rowspan="1" class="resizable">
            <a>в ед. изм. {{ icons.icon_sort() }}</a>
            <div class="resizer"></div>
          </th>
          <th rowspan="1" class="resizable">
            <a>в т у. т. {{ icons.icon_sort() }}</a>
            <div class="resizer"></div>
          </th>
          <th rowspan="1" class="resizable">
            <a>в ед. изм. {{ icons.icon_sort() }}</a>
            <div class="resizer"></div>
          </th>
          <th rowspan="1" class="resizable">
            <a>в т у. т. {{ icons.icon_sort() }}</a>
            <div class="resizer"></div>
          </th>
          <th rowspan="1" class="resizable">
            <a>в ед. изм. {{ icons.icon_sort() }}</a>
            <div class="resizer"></div>
          </th>
          <th rowspan="1" class="resizable">
            <a>в т у. т. {{ icons.icon_sort() }}</a>
            <div class="resizer"></div>
          </th>
        </tr>
        <tr>
          <th class="resizable" style="border-left: none">
            0
            <div class="resizer"></div>
          </th>
          <th class="resizable">
            1
            <div class="resizer"></div>
          </th>
          <th class="resizable">
            2
            <div class="resizer"></div>
          </th>
          <th class="resizable">
            3
            <div class="resizer"></div>
          </th>
          <th class="resizable">
            4
            <div class="resizer"></div>
          </th>
          <th class="resizable">
            5
            <div class="resizer"></div>
          </th>
          <th class="resizable">
            6
            <div class="resizer"></div>
          </th>
          <th class="resizable">
            7
            <div class="resizer"></div>
          </th>
          <th class="resizable">
            8
            <div class="resizer"></div>
          </th>
          <th class="resizable">
            9
            <div class="resizer"></div>
          </th>
          <th class="resizable" style="border-right: none;">
            10
            <div class="resizer"></div>
          </th>
        </tr>
      </thead>
      <tbody class="rows" id="indicators-tbody">
        <tr>
          <td colspan="11" style="text-align: center;">Загрузка...</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<script src="{{ url_for('static', filename='js/plan.js') }}"></script>
{% endblock %}
